
#views {
  padding: 1em;
  font-size: 1.3em;
}

#links {
  float: right;
}

#list {
  clear: both;
}

#functions {
	display: flex;
	flex-direction: row;	
}

#function {
  flex-grow: 1;
}

#sum {
  width: 31em;
}

#sum .smallfield {
  width: 70px;
}