#views {
  padding: 1em;
  font-size: 1.3em;
}

#links {
  float: right;
}

#list {
  clear: both;
}

#functions {
  overflow: hidden;
  width: 100%;
}

#function {
  width: 70%;
  float: left;
}

#sum {
  width: 25%;
  float: left;
}

#sum .smallfield {
  width: 70px;
}