<div id="TaskList">
  <div id="functions">
    <form>
      <fieldset>
        <legend>Funktioner</legend>
          <input type="button" name="create" value="Ny Opgave"/>
          <span id="stateSelector">
            <label>Vis tilstand:</label>
            <select name="taskstate_uid">
            </select>
          </span>
      </fieldset>
    </form>
  </div>
  <div id="list">
    <fieldset>
      <legend>Some text here</legend>
      <table>
        <thead>
          <tr>
            <th class="delete">&nbsp;</th>
            <th class="action">Handling</th>
            <th id="Work" class="children">Timer</th>
            <th class="edit" id="title">Titel</th>
            <th id="project">Project</th>
            <th id="type">Type</th>
            <th id="points" class="amountInt">Point</th>
            <th id="estimate" class="amount">Estimat</th>
            <th id="used" class="amount">Forbrugt</th>
            <th id="state">Tilstand</th>
            <th id="requester">Bestilt</th>
            <th id="owner">Udføres</th>
           </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </fieldset>
  </div>
</div>
