<div id="WorkList">
   <form>
  <div id="functions">
		<fieldset id="function">
			<legend>Funktioner</legend>
				<input type="button" name="create" value="Ny Timer"/>
		</fieldset>
  </div>
  </form>
  <div id="list">
    <fieldset>
      <legend>Some text here</legend>
      <table>
        <thead>
          <tr>
            <th id="delete" class="delete">&nbsp;</th>
            <th id="edit" class="edit">&nbsp;</th>
            <th id="start" class="datetime">Start</th>
            <th id="end" class="datetime">End</th>
            <th id="hours" class="amount">Timer</th>
            <th id="user" class="user">Bruger</th>
            <th id="project">Projekt</th>
            <th id="task" class="max">Opgave</th>
           </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </fieldset>
  </div>
</div>
